


.heading{
    color: white;
    font-weight: bold;
    font-size: large;
    width: 100%;
    margin: 0;
    box-shadow: 5px,5px,5px rgb(128, 255, 253);
    height: 10%;
}

.note{
    color: black;
}

.footer{
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
    line-height: 3;
    font-size: medium;
    font-weight: 5;
    background-color: aqua;
    color: black;
}

canvas{
   border-radius: 25px;
   box-shadow: 5px 5px grey;
   border: 5px solid black ;
}